# API
PUBLIC_VITE_API_URL=

# Cardano / Wallet
VITE_CARDANO_NETWORK=
VITE_VLRM_TOKEN_ID=
VITE_SWAP_VLRM_TOKEN_ID=
VITE_WALLET_WHITELIST=

# Third-party services
VITE_SENTRY_DSN=
VITE_STREAM_API_KEY=
VITE_NOVU_APP_ID=
VITE_DEXHUNTER_PARTNER_CODE=

# App
VITE_WEB_LINK=
