@import "tailwindcss";
@import "./fonts.css";
@import "./scrollbar.css";
@import "./stream-overrides.css";

#nufi-widget {
  z-index: 10 !important;
}

:root {
  --layout-top-padding: 84px;
  --color-background-primary: #000322;
  --color-text-primary: #FFFFFF;
  --color-dark-100: #979BB0;
  --color-input-bg: #080B29;

  /* For the datepicker */
  --color-accent: #202233;
  --color-primary: #FF842C;

  /* Color System */
  --color-orange-500: #FF842C;
  --color-slate-950: #000322;
  --color-slate-900: #0B0B29;
  --color-slate-850: #0A0D29;
  --color-steel-950: #181A2A;
  --color-steel-900: #1D1F2F;
  --color-steel-850: #202233;
  --color-steel-800: #282B3F;
  --color-steel-750: #2D3049;
  --color-steel-600: #314158;
  --color-steel-400: #90A1B9;
  --color-gray-500: #6B7280;
  --color-gray-400: #979BB0;
  --color-green-800: #166534;
  --color-green-500: #22C55E;
  --color-green-400: #4ADE80;
  --color-red-800: #7F1D1D;
  --color-red-600: #DC2626;
  --color-red-500: #EF4444;
  --color-red-400: #F87171;
  --color-yellow-800: #854D0E;
  --color-yellow-700: #8F7200;
  --color-yellow-500: #EAB308;
  --color-yellow-400: #FFD012;
  --color-yellow-300: #FDE047;
  --color-blue-500: #EAB308;
  --color-white: #FFFFFF;
  --color-black: #000000;

  --header-height: 72px;
  --content-space-top: 24px;
}

.dark {}

@theme {
  --font-russo: Russo One, sans-serif;
  --font-satoshi: Satoshi-Variable, sans-serif;
  --color-primary-background: var(--color-background-primary);
  --color-primary-text: var(--color-text-primary);
  --color-dark-100: var(--color-dark-100);
  --color-input-bg: var(--color-input-bg);
  --color-accent: var(--color-accent);
  --color-primary: var(--color-primary);

  /* Color System */
  --color-orange-500: var(--color-orange-500);
  --color-slate-950: var(--color-slate-950);
  --color-slate-900: var(--color-slate-900);
  --color-slate-850: var(--color-slate-850);
  --color-steel-950: var(--color-steel-950);
  --color-steel-900: var(--color-steel-900);
  --color-steel-850: var(--color-steel-850);
  --color-steel-800: var(--color-steel-800);
  --color-steel-750: var(--color-steel-750);
  --color-steel-600: var(--color-steel-600);
  --color-steel-400: var(--color-steel-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-400: var(--color-gray-400);
  --color-green-800: var(--color-green-800);
  --color-green-500: var(--color-green-500);
  --color-green-400: var(--color-green-400);
  --color-red-800: var(--color-red-800);
  --color-red-600: var(--color-red-600);
  --color-red-500: var(--color-red-500);
  --color-red-400: var(--color-red-400);
  --color-yellow-800: var(--color-yellow-800);
  --color-yellow-700: var(--color-yellow-700);
  --color-yellow-500: var(--color-yellow-500);
  --color-yellow-400: var(--color-yellow-400);
  --color-yellow-300: var(--color-yellow-300);
  --color-blue-500: var(--color-blue-500);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
}

body {
  @apply bg-primary-background text-primary-text font-satoshi;
}

.container {
  max-width: 1170px;
}

.orange-gradient {
  background: linear-gradient(135deg, #ff9d4c 0%, #ffba59 100%);
}

.bg-orange-gradient {
  @apply bg-gradient-to-r from-[#FF842C] to-[#FFD012];
}

.text-orange-gradient {
  @apply bg-gradient-to-r from-[#FF842C] to-[#FFD012] bg-clip-text text-transparent;
}

button {
  cursor: pointer;
}

.hover-overlay-gradient {
  background: rgba(0, 3, 34, 0.6);
}

.hover-overlay {
  @apply absolute inset-0 opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out flex items-center justify-center;
}

.divider-left {
  @apply relative;
}

.divider-left::before {
  content: '';
  @apply absolute left-0 top-0 h-full w-[1px] bg-steel-850;
}

.vault-countdown-banner {
  background-image: url('/src/icons/time-banner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 45px;
}

.vault-countdown-banner-yellow {
  background-image: url('/src/icons/time-banner-yellow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 45px;
  color: #B13200;
}

.text-gradient-orange {
  background: linear-gradient(85.54deg, #FF842C -10.84%, #FFD012 169.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@utility fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer utilities {
  .content-space-top {
    padding: calc(var(--header-height) + var(--content-space-top)) 0;
  }
}
