@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import "./fonts.css";
@import "tailwindcss";

#nufi-widget {
  z-index: 10 !important;
}

:root {
  --layout-top-padding: 84px;
  --color-background-primary: #000322;
  --color-text-primary: #FFFFFF;
  --color-dark-100: #979BB0;
  --color-dark-500: #282B3F;
  --color-dark-600: #202233;
  --color-dark-700: #000322;
  --color-main-orange: #FF842C;
  --color-main-red: #E10134;
  --color-main-yellow: #FFD012;
  --color-main-green: #65C366;
  --color-input-bg: #080B29;
  /* For the datepicker */
  --color-accent: #202233;
  --color-primary: #FF842C;
  /* For the datepicker end */
}

.dark {}

@theme {
  --font-russo: Russo One, sans-serif;
  --font-satoshi: Satoshi-Variable, sans-serif;
  --color-primary-background: var(--color-background-primary);
  --color-primary-text: var(--color-text-primary);
  --color-dark-100: var(--color-dark-100);
  --color-dark-500: var(--color-dark-500);
  --color-dark-600: var(--color-dark-600);
  --color-dark-700: var(--color-dark-700);
  --color-main-orange: var(--color-main-orange);
  --color-main-red: var(--color-main-red);
  --color-main-yellow: var(--color-main-yellow);
  --color-main-green: var(--color-main-green);
  --color-input-bg: var(--color-input-bg);
  --color-accent: var(--color-accent);
  --color-primary: var(--color-primary);
}

body {
  @apply bg-primary-background text-primary-text font-satoshi;
}

.container {
  max-width: 1170px;
}

.orange-gradient {
  background: linear-gradient(135deg, #ff9d4c 0%, #ffba59 100%);
}

button {
  cursor: pointer;
}

