name: Deploy Client

on:
  pull_request:
    branches: [ main, dev ]
    types: [opened, synchronize, reopened]
  push:
    branches: [ main, dev ]

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'
      
      - name: Install dependencies
        run: yarn install
      
      - name: Build project
        run: yarn build
      
      - name: Run linter
        run: yarn lint

  deploy:
    if: github.event_name == 'push'
    needs: build-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy
        uses: appleboy/scp-action@master
        with:
          host: ${{ github.ref == 'refs/heads/main' && secrets.SSH_HOST_DEV || secrets.SSH_HOST }}
          username: ${{ github.ref == 'refs/heads/main' && secrets.SSH_USERNAME_DEV || secrets.SSH_USERNAME }}
          key: ${{ github.ref == 'refs/heads/main' && secrets.SSH_PRIVATE_KEY_DEV || secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "~/apps/l4va-client"

      - name: Run
        uses: appleboy/ssh-action@master
        with:
          host: ${{ github.ref == 'refs/heads/main' && secrets.SSH_HOST_DEV || secrets.SSH_HOST }}
          username: ${{ github.ref == 'refs/heads/main' && secrets.SSH_USERNAME_DEV || secrets.SSH_USERNAME }}
          key: ${{ github.ref == 'refs/heads/main' && secrets.SSH_PRIVATE_KEY_DEV || secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/apps
            docker compose build l4va-client
            docker compose up -d l4va-client